<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.web01.mapper.EmpMapper">
    <select id="getEmps" resultType="com.xzy.web01.entity.Emp">
            select e.id, username, password, e.name as name, gender, phone, job,
            salary, image, entry_date, d.name as dept_name, e.create_time,
            e.update_time from emp e left join dept d on e.dept_id = d.id
             <where>
                 <if test="name != null and name != ''">
                     e.name like concat('%',#{name},'%')
                 </if>
                 <if test="gender != null">
                     and e.gender = #{gender}
                 </if>
                  <if test="begin != null">
                     and e.entry_date >= #{begin}
                 </if>
             </where>
                          order by update_time desc
    </select>

    <insert id="addBatchEmpExpr" >
        <foreach collection="exprList" item="expr">
            insert into emp_expr(emp_id, begin, end, company, job)
            values(#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>
</mapper>