<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.web01.mapper.EmpMapper">
    <select id="getEmps" resultType="com.xzy.web01.entity.Emp">
            select e.id, username, password, e.name as name, gender, phone, job,
            salary, image, entry_date, d.name as dept_name, e.create_time,
            e.update_time from emp e left join dept d on e.dept_id = d.id
             <where>
                 <if test="name != null and name != ''">
                     e.name like concat('%',#{name},'%')
                 </if>
                 <if test="gender != null">
                     and e.gender = #{gender}
                 </if>
                  <if test="begin != null">
                     and e.entry_date >= #{begin}
                 </if>
             </where>
                          order by update_time desc
    </select>

    <delete id="deleteByIds">
        delete from emp where id in
        <foreach item="id"  collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    实现有选择性的更新，支持不完整的json数据-->
    <update id="update" parameterType="com.xzy.web01.entity.Emp">
            update emp
            <set>
                <if test="username!=null and username !='' "> username = #{username}, </if>
                <if test="password!=null and password !='' "> password = #{password}, </if>
                <if test="name!=null and name !='' "> name = #{name}, </if>
                <if test="gender!=null"> gender = #{gender},</if>
                <if test="phone!=null and phone !='' "> phone = #{phone}, </if>
                <if test="job!=null"> job = #{job},</if>
                <if test="salary!=null"> salary = #{salary},</if>
                <if test="image!=null and image !='' "> image = #{image}, </if>
                <if test="entryDate!=null"> entry_date = #{entryDate},</if>
                <if test="deptId!=null"> dept_id = #{deptId},</if>
                <if test="updateTime!=null"> update_time = #{updateTime},</if>
            </set>
            where id = #{id}
    </update>


    <select id="selectById" resultType="com.xzy.web01.entity.Emp" resultMap="empResultMap">
        select e.*,
               ee.id as ee_id,
               ee.emp_id as ee_emp_id,
               ee.begin as ee_begin,
               ee.end as ee_end,
               ee.company as ee_company,
               ee.job as ee_job
            from emp e left join emp_expr ee on e.id = ee.emp_id
        where e.id = #{id}
    </select>

    <resultMap id="empResultMap" type="com.xzy.web01.entity.Emp">
        <id property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>
        <result property="entryDate" column="entry_date"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="exprList" ofType="com.xzy.web01.entity.EmpExpr">
            <id property="id" column="ee_id"/>
            <result property="empId" column="ee_emp_id"/>
            <result property="begin" column="ee_begin"/>
            <result property="end" column="ee_end"/>
            <result property="company" column="ee_company"/>
        </collection>
    </resultMap>
</mapper>